<style>
#indexA a:hover {
	text-decoration: none;
    background:none;
}
</style>
<%=notice%>
<div id="indexA" style="margin:150px 180px; text-align:center;">
	<a href="<%=root_path%>">
	<h1 style="font-size: 90px; display: inline-block; color:#75D1FF; vertical-align:baseline;">RTES</h1>
	<h1 style="font-size: 50px; display: inline-block ; vertical-align:baseline;  ">books</h1>
	<br><br>
	<h1 style="font-size: 20px;">
	fast! fun! easy!
	</h1>
	</a>
</div>
