<footer>	
  <div>	
  <div class="fb-facepile" data-max-rows="1" data-width="350" style="display: inline-block;"></div>	
  </div>
  <ul>
    <li><small class="copytight">&copy; 2010-<%= Time.now.year %> </small></li>
    <li>
        <%= link_to 'Benny Lin', 'https://www.facebook.com/bennylin77'%> from 交大 RTES
    </li>
    <li>
    	all rights reserved
   	</li>
  </ul> 
</footer>
